#chat_window .body {
    position: relative;
    display: flex;
    flex-flow: column;
    flex: 1;
}

    #chat_window .body .overlay {
        position: absolute;
        background-color: #333;
        opacity: 0.5;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

#chat_window .chat_main .overlay h2 {
    color: #fff;
    text-align: center;
    margin-top: -25px;
}

#chat_window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 320px;
    height: 520px;
    right: 0;
    bottom: 0;
    margin: 0;
}

    #chat_window .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #353942;
        border-bottom: 5px solid #272a31;
        padding: 18px 1px 15px 15px;
        margin-bottom: 0;
        height: 70px;
    }

        #chat_window .top span:first-child {
            width: 90%;
            text-align: left;
            font-size: 16px;
            margin: 0;
        }

        #chat_window .top .dropdown-button {
            cursor: pointer;
            margin: 0 7px;
        }

            #chat_window .top .dropdown-button i {
                color: #fff;
            }

    #chat_window .dropdown-content {
        width: 130px !important;
        overflow-x: hidden;
        background-color: #f2f2f2;
    }

        #chat_window .dropdown-content li,
        #chat_window .dropdown-content li a {
            margin: 0;
            padding: 5px;
        }

            #chat_window .dropdown-content li a {
                color: #333;
            }

            #chat_window .dropdown-content li:hover {
                background-color: #fff;
            }

        #chat_window .dropdown-content li {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    #chat_window .top .toggle-window,
    #chat_window .top .close_connection {
        cursor: pointer;
        margin: 0 5px;
        max-height: 32px;
        display: flex;
        align-items: center;
    }

    #chat_window .top .toggle-window {
        margin-right: 0;
    }

    #chat_window .inner {
        flex: 1;
        padding: 10px;
        background: #f2f2f2;
        overflow-y: auto;
    }

    #chat_window .message-wrapper {
        display: flex;
        margin: 10px 0;
        padding: 10px 0;
    }

    #chat_window .message {
        width: 60%;
        margin-top: 10px;
        padding: 7px;
        text-align: left;
    }

    #chat_window .message-header {
        display: flex;
        justify-content: space-between;
    }

    #chat_window .message p {
        margin: 7px 0;
        word-wrap: break-word;
    }

    #chat_window .message span {
        font-weight: bold;
    }

        #chat_window .message span:last-child {
            margin-left: auto;
        }

    #chat_window .leftAlign {
        align-self: flex-start;
        background: #349bb9;
        color: #ffffff;
    }

    #chat_window .right {
        margin-left: 16.66666667%;
        padding-right:0;
    }
    #chat_window .left {
        
        padding-left: 0;
    }

    #chat_window .bottom {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        height: 75px;
        border-top: 1px solid rgba(160,160,160,0.2);
        background-color: #1c1e22;
    }


    #chat_window .form-inline {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #chat_window textarea {
        padding: 0;
        margin-left: 10px;
        width: 75%;
        resize: none;
        height: 35px !important;       
        overflow-y: auto;
        /*display: inline-block;*/
        vertical-align: middle;
        border-bottom: none;
    }

        #chat_window textarea:focus {
            border-bottom: 1px solid #349bb9;
            box-shadow: 0 1px 00 #349bb9;
        }
    #chat_window .loader {
        border: 5px solid;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        border-top: 5px solid #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-top: -50px;
    }
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.closed {
    bottom: -450px !important;
}

.move-down {
    margin-top: 10px;
}





.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}
.msg_sent {
    padding-bottom: 20px !important;
    margin-right: 0;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
    color: #333;
    word-wrap: break-word;
}
