<template>   
    <div id="chat_window" class="card" :class="{closed:closed}">
    
       <div class="navbar navbar-default top white-text">
              <span class="card-title">Support chat</span>
              <span class="toggle-window" @click="toggleWindow">
                <i class="material-icons" :class="{'move-down':!closed}">{{ toggleIcon }}</i>
              </span>
              <span class="close_connection" @click="close" >
                <i class="material-icons">clear</i>
              </span>            
        </div>

        <div class="body">
            
            <div class="overlay" v-if="!status">              

                 <div class="loader"></div>

              </div>  <!--overlay -->



              <div class="inner"> 
                <div class=" msg_container base_receive" v-for="message in messagelist">                  
                    <div class="col-md-10 col-xs-10"  :class="{right:userName != message.username, left:userName == message.username}">
                            <div class="messages msg_receive">
                                <p>{{message.message}}</p>
                                <time datetime="2009-11-13T20:00">{{ message.username }} • {{ currentTime }}</time>
                            </div>
                        </div>
                </div>                        
              </div> <!-- inner-->

          <div class="card-content bottom">  
            <div class="form-inline"> 
                <textarea class="form-control" v-model="message"
                  @keypress.enter.prevent="sendMessage"></textarea>
                  <button class="btn btn-default"
                    @click="sendMessage"
                  >
                    Send
                  </button>  
            </div>         
                         
          </div>

        </div> <!--body -->    
    </div>  
</template>

 <script src="./chat.js"></script>
